@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
    @apply min-h-screen text-white bg-gradient-to-br from-gray-950 via-slate-900 to-violet-950 font-sans antialiased;
}